* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  min-height: 100vh;
}

h1 {
  margin-left: 8px;
}

video {
  display: none;
}

#root {
  padding-bottom: 40px;
  width: 100vw; 
  height: 100vh;
}

.setting-background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(100vw);
  width: 100vw;
  min-height: 100vh;
}

.setting-background.active {
  transform: translateX(0);

}

.setting-form {
  background-color: #fff;
  border-radius: 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #555;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 4px;
}

.swan-table {
  margin-top: 40px;
}

.feature-btn {
  font-size: 32px;

}

.feature-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.history-btn {

}

.setting-btn {

}

#paging ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

#paging ul li{
  display: flex;
  justify-content: center;
}

#paging ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

#paging .paginationjs-page,
#paging .paginationjs-prev,
#paging .paginationjs-next {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #1A8B1A;
  line-height: 34px;
}

#paging .paginationjs-page:hover ,
#paging .paginationjs-prev:hover ,
#paging .paginationjs-next:hover {
  background-color: rgba(26, 139, 26, 0.5);
  cursor: pointer;
}

#paging .active {
  background-color: #1A8B1A !important;
}

#paging .active a {
  color: #fff !important;
}
